/* SPECIFICITY */
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* box-sizing : contentbox -> width + padding + margin + border */
/* border-box -> width + padding + margin + border */

/* 
#id -> USE A HASHTAG WITH ID'S
.classes -> USE A DOT WITH CLASSES
selector {
  CSS DECLARATIONS
  PROPERTY : VALUE ;
}
 */

body {
  font-family: sans-serif;
  /* SETTING A LIMIT TO HOW FAR IT CAN GO */
  max-width: 1400px;
  margin: auto;
}

header {
  text-align: center;
  /* SETTING A FIXED HEIGHT */
  /* height: 80px */
  padding: 40px;
  color: rgb(94, 92, 89);
}

h1 {
  font-size: 200px;
}

/* Below is more specific */

header h1 {
  font-size: 40px;
}

.card {
  width: 300px;
  /* HEIGHT IS SET TO AUTO BY DEFAULT */
  height: auto;
  border: 5px solid gray;
  border-radius: 5px;
  /*  TEXT ALIGN WITH IMAGES */
  text-align: center;
  /* HEX CODE / PREDEFINED COLOUR */
  background-color:#eee;
  color: midnightblue;
  padding: 20px;
  /* OPACITY 0 - 1 */
  opacity: 0.8;
}

.card:hover {
  opacity: 1;
}

.card img {
  margin: 10px;
  min-height: 300px; 
  border-radius: 5px;
}

/* chain elements together with ,  */
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  font-size: 30px;
}

/* select id's # */
#penelope-list {
  list-style-type: none;
}

a,
a:active,
a:visited {
  color: brown;
}